<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devspace'22</title>
    <style>
        body {
            background-color: #121212;
            color: white;
            padding: 0;
            margin: 0;
            font-family: General Sans, Arial, sans-serif;
        }

        a {
            color: white !important;
            text-decoration: none !important;
        }

        .container {
            padding-top: 30px;
            background-color: #121212;
            max-width: 600px;
            width: 100%;
            margin: auto;
            padding-top: 40px;
            background-image: url(https://i.imgur.com/7hb0GnM.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main-content {
            padding: 0 40px;
        }

        .blue {
            color: #00d5ff !important;
        }

        .italics {
            font-style: italic !important;
        }

        .underline {
            text-decoration: underline !important;
        }

        .bold {
            font-weight: bold !important;
        }

        .devspace-logo {
            margin: auto;
            max-width: 700px;
            display: block;
            width: 50%;
            margin-bottom: 50px;
        }

        .gravitas-logo {
            margin: auto;
            max-width: 700px;
            display: block;
            width: 50%;
            padding-bottom: 30px;
        }

        .qr-code-bg {
            padding: 10px;
            background-color: white;
            max-width: 500px;
            width: 60%;
            margin: auto;
        }

        .qr-code { 
            max-width: 100%;
            display: block;
        }

        .register-button {
            width: 90%;
            max-width: 400px;
            display: block;
            margin: auto;
        }

        @media screen and (max-width: 600px) {
            .container {
                margin: 0;
            }

            .main-content {
                padding: 0 20px;
            }
        }
    </style>
</head>

<body>
    <div style="background-color: #ececec; color: white!important;">
        <div class="container">
            <img alt="LaserTag Logo" height="auto" src="https://i.imgur.com/a4ttMT0.png" class="devspace-logo" />
            <div class="main-content">
                <p>Greetings Jedi</p>
                <p>
                    Thankyou for booking your slot for Laser Tag 2022. The
                    details of your booked slot are as follows:
                </p>
                <p>
                <div style="text-align:center;color: #FFE81F;">
                    <span><b>Date:</b> <%= date %></span><br>
                    <span><b>Time:</b> <%= time %></span><br>
                    <span><b>Venue:</b> SJT 308</span>
                </div>
                </p>
                <p>
                    In order to play Laser Tag during the selected slot, please show the QR code below to the slot
                    manager.
                </p>
                <div class="qr-code-bg">
                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=<%= svg %>" class="qr-code" alt="QR code" />
                </div>
                <p>
                    Do note that you will not be allowed inside the arena without this ticket. The QR code can only be
                    scanned once.
                </p>
                <p>
                    In case of any unforeseen circumstances, you may cancel your current slot and book a new one.
                    However, only one such alteration is allowed. Cancellation will be disabled 12 hours before your
                    slot.
                </p>
                <p>
                    In case of any requests or queries please reach out to:
                </p>

                <p>
                <div style="text-align:center">
                    <span>Anubhav: <a href="tel:919910158496">9910158496</a></span><br>
                    <span>Brinda: <a href="tel:919650021699">9650021699</a></span>
                </div>
                </p>

                <p>We can’t wait to have you!</p>
                <p>
                    Regards,<br>
                    Team CSI-VIT.
                </p>

                <a href="https://csivit.com"><img alt="LaserTag Logo" width="400px"
                        src="https://i.imgur.com/vBx9Otb.png" class="gravitas-logo"></a>
            </div>
        </div>
    </div>

</body>

</html>